body {
    background-color: rgb(108, 182, 255);
}

#titulo {

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

canvas{
    border-style: inset;
    margin-top: 80px;
    background-color: aliceblue;
    border-radius: 39px;

    animation-name: canvaLight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes canvaLight{
    from{
        box-shadow: 5px 5px 38px blue;
        
    }
    to{
        box-shadow: 1px 1px 38px red;
    }
}